html{
	margin: 0px;
	display: block;
}
body{
	margin: 0;
	font-family: 'Shadows Into Light', cursive, sans-serif;
	font-size: 14px;
}
img{
	opacity: 0.8;
}

ul{
	margin: 0;
	list-style:none;
}
li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}
a :hover{
	color: #fff;
}
h1{
	margin: 0;
}
h2{
	text-align: center;
	margin: 0;
}
h3{
	color: #fff;
	text-align: center;
}
i{
	color: #fff;
	font-size: 24px;
}
.header{
	max-height: 100%;
	width: 100%;
	background: #ddf4f0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 100;
	opacity: 0.7;
}
.header:hover{
	opacity: 1
}
@media (max-width: 980px){
  header{
    /* Меняем оси шапки, делая её вертикальной. */
    flex-direction: column;
  
    /* Выравнивание элементов шапки с начала (по левому краю). */
    align-items: flex-start;
  }
}
li{
	float: left;
	padding-right: 50px;
}
.slider {
      position: relative;
      overflow: hidden;
    }
.slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
}

.slider__item {
      flex: 0 0 100%;
      max-width: 100%;
}

@media (min-width: 980px) {
      .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
 }
}

.slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
}

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 0px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }
      .slider__item>div {
      line-height: 400px;
      font-size: 100px;
      text-align: center;
    }
.desBuk, .desSho, .desSva{
 max-width: 100%;
 padding: 100px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
@media screen
and (max-width : 980px){
	.desBuk, .desSho, .desSva{
 max-width: 100%;
 padding: 100px;
 display: flow-root;
	}

}
.ImgS, .ImgB, .ImgSv{
	width: 400px;
	height: 300px;
}
.ImgS:hover{
	width: 500px;
	height: 400px;
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
     -o-transform: rotate(-5deg);
	transition: 0.6s ease-out;
	-webkit-transition: 0.6s ease-out;
     -moz-transition: 0.6s ease-out;
     -o-transition: 0.6s ease-out;
}
.ImgB:hover{
	width: 500px;
	height: 400px;
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
     -o-transform: rotate(5deg);
	transition: 0.6s ease-out;
	-webkit-transition: 0.6s ease-out;
     -moz-transition: 0.6s ease-out;
     -o-transition: 0.6s ease-out;
}
.ImgSv:hover{
	width: 500px;
	height: 400px;
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
     -o-transform: rotate(-5deg);
	transition: 0.6s;
	-webkit-transition: 0.6s ease-out;
     -moz-transition: 0.6s ease-out;
     -o-transition: 0.6s ease-out;
}
.descP{
	padding-left: 10px;
}
.desSho{
	background-color: #ded7ea;
}
.desSva{
	background-color: #fff9d157;
}
.chief{
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nata img{
	border: solid 1px;
	border-radius: 50%;
	margin: 100px 0 0 150px;
}
.tana  img{
	border: solid 1px;
	border-radius: 50%;
	margin: 100px 0 0 150px;
}
@media screen
and (max-width : 980px){
	.chief{
 max-width: 100%;
 display: flow-root;
 align-items: center;
 text-align: center;
	}
	.nata img{
	border: solid 1px;
	border-radius: 50%;
	margin: 100px 0 0 0px;
}
.tana  img{
	border: solid 1px;
	border-radius: 50%;
	margin: 100px 0 0 0px;
}
}
.footer{
	width: 100%;
	height: 100px;
	background-color: #000;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.socialNetwork li{
	padding-right: 20px;
}